<!DOCTYPE html>
<div id="homeBar">
	<div class="dropdown" id="customers">
			<button class="dropbtn">Customers</button>
			<div class="dropdown-content">
				<a href="/add-customer">Add New Customer</a>
			</div>
	</div>
	
	<div class="dropdown" id="vendors">
			<button class="dropbtn">Vendors</button>
			<div class="dropdown-content">
				<a href="/add-vendor">Add New Vendor</a>
			</div>
	</div>

	<div class="dropdown" id="products">
			<button class="dropbtn">Products</button>
			<div class="dropdown-content">
				<a href="/add-product">Add New Product</a>
				<a href="/update-product">Update Product Information</a>
				<a href="/add-category">Add a New Category</a>
			</div>
	</div>

	<div class="dropdown" id="transactions">
			<button class="dropbtn">Transactions</button>
			<div class="dropdown-content">
				<a href="/sale">Create Sale</a>
				<a href="/purchase">Create Purchase</a>
			</div>
	</div>

	<div class="dropdown" id="read">
			<button class="dropbtn">View Data</button>
			<div class="dropdown-content">
				<a href="/sale-history">Show Sale History</a>
				<a href="/purchase-history">Show Purchase History</a>
				<a href="/profit-analysis">Perform Profit Analysis</a>
			</div>
	</div>
</div>

